@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1>Our Goal</h1>
    <br>
    <p class="col-md-7 mx-auto">
        EbookVault is an online library of free eBooks. Our goal in creating this site is to provide an easy to use online storage for countless open access books from all around the world in several eBook formats.
    </p>
    <br>
    <h1>Our Sources</h1>
    <br>
    <p class="col-md-7 mx-auto">
        All of the books uploaded on this site have either been submitted by our users or by the sites administrators. You can also contribute to our collection by sending a request to our team through the website. Notice that all request must first be approved by us before a book is uploaded to the site. Please do not send books that are not in the public domain, as they will not be uploaded.
    </p>
    <br>
        <h1>About the Creator</h1>
    <br>
    <p class="col-md-7 mx-auto">
        Hello, my name is Kaloyan Markov and I am the creator of this site! If you have any more questions, feel free to contact me.
    </p>
    <br>
</div>
