@{
    ViewData["Title"] = "Contacts";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <br>
            <p>You can find me at:</p>
            <ul>
                <li>Phone: +359 81 234 567</li>
                <li>Email: samplemail@@gmail.com</li>
            </ul>
        </div>
        <div class="col-md-4 text-center">
            <img class="img-circle" src="~/img/user2-160x160.jpg">
            <br><br>
            <p>
                Kaloyan Markov<br>
                Site Administrator
            </p>
        </div>
    </div>
</div>
