@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome</h1>
    <br>
    <p>
        In order to access our database please <a asp-area="Identity" asp-page="/Account/Register">Create an Account</a> or <a asp-area="Identity" asp-page="/Account/Login">Log In</a></>. <br>
        For more information check the <a asp-area="" asp-controller="Home" asp-action="About">About</a> page.
    </p>
    <br>
    <img src="~/img/book.png" width="250" height="250">
</div>
