@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="dropdown-menu" aria-labelledby="navbarDropdown4">
@if (SignInManager.IsSignedIn(User))
{
    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login">Login</a>
    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Register</a>
}
else
{
    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login">Login</a>
    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Register</a>
}
</div>
