@using EbookVault.Infrastructure.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @User.Identity?.Name
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
            <button type="submit" class="dropdown-item">Logout</button>
        </form>
    </div>
}
else
{
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Profile
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login">Login</a>
        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </div>
}
